extends layout

block content

  link(rel='stylesheet', href='/stylesheets/popup.css')
  // bandeau de titre
  .title
    h1= title

  a#popup(href="#popup1")



  // ajout d'image, tips, autres
  .container
    .item
      #click.cadre
        div#cross
          | 
        img#imgLoad(src='' alt='')
        input#imgupload(type='file' name='file' style='display:none')

      button#python Find !

      div
      .tips
        h3 TIPS For Best Results
        ul#t
          li Center your head in the photo
          li Look directly at the camera
          li No hair across your face or eyes
          li Make sure your facial features are clearly visible
          li Don&apos;t tilt your head up/down or left/right




    div.car
      - var names = ["anne_hathaway", 'dwayne johnson', 'jerry seinfeld', "madonna", 'sofia vergara', "arnold_schwarzenegger", 'eddie Hall', "kate_beckinsale", 'mindy kaling', 'Travis Fimmel', 'ben afflek', 'elton john' , 'keanu reeves' ,"ragnar", "trump", 'brian Shaw', 'hafthor julius bjornsson', 'lauren cohan', 'simon pegg', "will_smith"];
      ul#c
        each val in names
          li#cli
            - var img = '../images/celeb/' + val + '/0.jpg'
            p
              img(src= img alt='')
            p= val
        

  #popup1.overlay
      .popup
        h1 You look like :
        h2.result 
        a.close(href='#') &times;
        .content
          img#imgLoad(src='' alt='')


  script(src="../javascripts/lzma.js")
  script(language="javascript" src="../javascripts/lz-string.js")
  script(language="javascript" src="../javascripts/NNBack.js")
  script(src='../javascripts/main.js' type='text/javascript')
  script(src='../javascripts/python.js' type='text/javascript')
  script(src='../javascripts/loadImg.js' type='text/javascript')
